@font-face {
  font-family: myAniron;
  src: url(/aniron-font/Aniron-7BaP.ttf);
}

#ring1 {
  height: 22px;
  width: 22px;
  margin: 0 -6px;
  border: 2px;
  border-radius: 50%;
  border-style: solid;
  border-color: #464343;
}

#ring2 {
  height: 44px;
  width: 44px;
  margin: 0 -12px;
  border: 4px;
  border-radius: 50%;
  border-style: solid;
  border-color: #464343;
}

#ring3 {
  height: 66px;
  width: 66px;
  margin: 0 -18px;
  border: 6px;
  border-radius: 50%;
  border-style: solid;
  border-color: #464343;
}

#ring4 {
  height: 88px;
  width: 88px;
  margin: 0 -24px;
  border: 8px;
  border-radius: 50%;
  border-style: solid;
  border-color: #464343;
}

#ring5 {
  height: 110px;
  width: 110px;
  margin: 0 -30px;
  border: 10px;
  border-radius: 50%;
  border-style: solid;
  border-color: #464343;
}

#ring6 {
  height: 132px;
  width: 132px;
  margin: 0 -36px;
  border: 12px;
  border-radius: 50%;
  border-style: solid;
  border-color: #464343;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: myAniron;
  list-style: none;
}

body {
  background-image: url("/img/bgImg.png");
}

a {
  text-decoration: none;
}

.container {
  height: 100%;
  background-color: #ff6600;
  color: #fff;
}

.container nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 30px;
}

.container nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container nav ul li {
  padding: 5px;
}

.container nav ul a {
  color: #fff;
}

.container nav ul a:hover {
  color: black;
}

main {
  height: 75vh;
}

.container-rings {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 20px;
  font-size: 1.8rem;
}

.my-precious {
  margin: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.my-precious .orange-ring {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  border: 5px #ff6600 solid;
  margin: 0 20px;
}

.the-one-ring {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.the-one-ring .golden-ring {
  width: 250px;
  height: 250px;
  border-radius: 125px;
  border: 25px goldenrod solid;
  margin: 0 20px;
}

.the-rings {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.the-rings img > id {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.the-rings p {
  margin-top: 50px;
}

footer {
  width: 100%;
  position: fixed;
}

footer .wrap-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: #ff6600;
  margin: 60px;
}

footer .wrap-box .box1, footer .wrap-box .box2, footer .wrap-box .box3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 10px;
}
/*# sourceMappingURL=style.css.map */