@font-face{
    font-family: myAniron;
    src: url(/aniron-font/Aniron-7BaP.ttf);
}
$primairy-color:#ff6600;
$secondairy-color:#fff;
$third-color: #464343;
$ring-size: 50px;


@for $i from 1 through 6 {
    #ring#{$i} {
        height: 22px * $i;
        width: 22px * $i;
        //border-width: 1px * $i;
        margin: 0 -6px * $i;
        border:2px * $i ;
        border-radius: 50%;
        border-style: solid;
        border-color:$third-color;
    }
}
*{
    box-sizing:border-box;
    margin:0;
    padding:0;
    font-family: myAniron;
    list-style: none;
    

    
}
body{
    background-image: url("/img/bgImg.png");
    
     
}

a{
    text-decoration: none;
}
.container{
    height: 100%;
    background-color: $primairy-color;
    color: $secondairy-color;
    

    nav{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding:10px 30px;        
        
        ul{
            display: flex;           

            
           li{
               padding: 5px;
               
           }
           a{
            color: $secondairy-color;

            &:hover{
                color:black;
            }
           }
           
        }   
    }
}
main{
    height: 75vh;
}
.container-rings{
    height: 100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 20px;
    font-size: 1.8rem;   

}
.my-precious{
    margin:50px;
    display:flex;
    align-items: center;
    justify-content: center;
    .orange-ring{
        width: $ring-size;
        height: $ring-size;
        border-radius: $ring-size/2;
        border: 5px $primairy-color solid;
        margin:0 20px;        
    }
    
}
.the-one-ring{
    display:flex;
    align-items: center;
    justify-content: center;

    .golden-ring{
        width: $ring-size * 5;
        height: $ring-size *5;
        border-radius: ($ring-size *5)/2;
        border: 25px goldenrod solid;
        margin: 0 20px;
      //  @include drop-shadow(30px 10px 4px #4444dd);
      //  drop-shadow:30px 10px 4px #4444dd;
    }     
}
.the-rings{
    flex-direction: row;
    
    img > id{     
      // width: 20px; 
       display: flex;
       align-items: center;
       justify-content: center;
            
    }
    p{
        margin-top: 50px;
    }
    
}



footer{
    
    width: 100%;
    position: fixed;

    .wrap-box{
        display:flex;
        align-items: center;
        justify-content: space-around;
        background-color: $primairy-color;
        margin:60px;       
        

        .box1,.box2,.box3{
            display:flex;
            margin: 10px;
        }
    }
}

